* {
    padding: 0;
    margin: 0;
    font-family: generalFont
}

body {
    background-color: #000;
    color: #fff;
    overflow-x: hidden
}

pre {
    color: #fff
}

a {
    text-decoration: none;
    color: #fff
}

a:hover {
    text-decoration: none;
    color: #fff
}

.shop {
    padding: 0 40px
}

@media(max-width: 768px) {
    .shop {
        padding: 0 20px
    }
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
    display: none !important
}

.slick-prev,
.slick-next {
    background: #fff !important;
    width: 60px;
    height: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 400;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: .02em;
    cursor: pointer;
    z-index: 1
}

.slick-prev:before {
    position: absolute;
    font-family: generalFont;
    color: #010101;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: .02em;
    font-weight: 600;
    cursor: pointer;
    content: "←"
}

.slick-next:before {
    position: absolute;
    font-family: generalFont;
    color: #010101;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: .02em;
    font-weight: 600;
    cursor: pointer;
    content: "→"
}

.slick-prev {
    left: -10px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}

.slick-next {
    right: -30px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important
}


.hide {
    display: none !important
}

.scale {
    display: inline-block;
    overflow: hidden;
    width: 100%
}

.scale img {
    -webkit-transition: 1s;
    transition: 1s;
    display: block
}

.scale img:hover {
    -webkit-transform: scale(1.04);
    transform: scale(1.04)
}

.like-active {
    position: absolute;
    top: 0
}

.favorites-and-basket {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 40px;
    top: 90px;
    z-index: 1
}

.favorites-and-basket img {
    width: 100%
}

.favorites-image,
.basket-image {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    cursor: pointer
}

.favorites-image {
    margin-right: 10px
}

.favorites-icon,
.basket-icon {
    height: 25px;
    position: absolute;
    top: calc(50% - 12.5px)
}

.basket-ellipse {
    height: 12px;
    position: absolute;
    top: 12px;
    left: 10px
}

.basket-ellipse__txt {
    position: absolute;
    font-weight: 400;
    font-size: 8px;
    line-height: 100%;
    letter-spacing: .02em;
    color: #fff;
    right: 17px;
    top: 14px
}

.basket-ellipse__txt-two-digit {
    font-size: 6px;
    right: 16px;
    top: 14px
}

@media(max-width: 768px) {
    .slick-prev,
    .slick-next {
        display: none !important
    }
    
    .favorites-and-basket {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: absolute;
        right: 20px;
        top: 100px
    }

    .favorites-image,
    .basket-image {
        width: 40px;
        height: 40px
    }

    .favorites-image {
        margin-right: 5px
    }

    .favorites-icon,
    .basket-icon {
        height: 20px;
        top: calc(50% - 10px)
    }

    .basket-ellipse {
        height: 10px;
        top: 6px;
        left: 8px
    }

    .basket-ellipse__txt {
        right: 9px;
        top: 7px
    }

    .basket-ellipse__txt-two-digit {
        right: 8px;
        top: 8px
    }
}
